<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation Form</title>

</head>
<body>
<h3>Student Confirmation Form</h3>
Student Succsessfully Registered: <span th:text="${student.firstName} + ' ' + ${student.lastName}"></span>
<br><br>
CourseCode : <span th:text="${student.courseCode}"/>
<br><br>
Country: <span th:text="${student.country}"></span>
<br><br>
Postal Code : <span th:text="${student.postalCode}"/>
<br><br>
Favorite Language:
<ul>
    <li th:each="tempLanguage : ${student.favoriteLanguage}" th:text="${tempLanguage}"></li>
</ul>
<br><br>
freePass :
<span th:text="${student.freePass}"></span>

</body>
</html>